body{
    background-color: bisque;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 30px;
}
li, h1{
    font-size: 25px;
    font-family: "Macondo", cursive ;
    font-family: 'Smooch', cursive;
    padding: 20px;
}
li i{
     padding-right: 15px;
}
li:nth-child(1) i{
   
    color: brown;
}
li:nth-child(3) i{
color: orange;
}
.active{
    color: green;
}
a{
    text-decoration: none;
    color: grey;
}
#navbar{
    height: 50px;
    background-image: linear-gradient(35deg , blue 10%, red 50% );
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');